*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    width: 500px;
    height: 300px;
    margin: 0;
    background: #e0e0e0;
    color: #202020;
    font-size: 1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center
}

.main-container{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90%
}

.header{
    background: #e0e0e0;
    height: 10vh;
    width: 100%;
    position: fixed;
    font-size: 2rem
}

.text{
    margin-top: 10%;
    height: 95vh
}

p{
    margin-top: 3%;
    text-align: justify;
    line-height: 22px;
    font-family: 'Poppins', sans-serif
}